@import '../../theme.scss';
*{
  font-family: 'Lato', sans-serif !important;
}
.nav-modal{
  background: #4F758B;
  padding-top: 5px;
  overflow: hidden;
}
.link-container{
  opacity: 1 !important;
}
#mobilenav{
  color: white;
  font-size: 20px;
  text-decoration: none !important;
  padding: 5px;
  margin: 0 !important;
  text-transform: none !important;
  font-weight: 900;
}
#buttonDiv{
  display: flex;
  justify-content: center;
}
