// All pages
#mainBody{
    margin-top: 100px;

}
#logButtons{
    border: 1px solid black;
}
#logButtons:hover{
    background-color: rgb(236, 236, 236);
}
#parallax{
    padding-top: 150px;
    padding-bottom: 150px;
}
#banner{
    max-width: 100%;
    width: 75%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.banner-container {
    width: 100%;
    height: 600px;
    overflow: hidden; 
    // position: relative;
  }
 #mapDiv{
    width: 375px;
    height: 375px;
 }
  
  .banner-image {
    top: -100px;
    width: 100%; 
    height: auto;
    object-fit: cover;
    z-index: -5;
  }
#deskImg{
    width: 20%;
    height: auto;
}
#handShake{
    width: 20%;
    height: auto;
}
#lookAtPC{
    width: 20%;
    height: auto;
}
#pointOfSale{
    width: 75%;
}
body{
    padding-top: 112px;
  }
  .navbar{
    top: 0 !important;
  }
//   Loans page
#Reverse-Mortgage-Florida-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#Reverse-Mortgage-Florida-Container-h1{
    justify-content: center;
    align-items: center;
}
#Reverse-Mortgage-Florida-Container-banner-title{
    position: inherit;
    top: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#Reverse-Mortgage-Florida-Container-h2{
    position: inherit;
    margin: 15px;
    font-size: 50px !important;
    color: #4F758B;
}
#Reverse-Mortgage-Florida-Container-h3{
    position: inherit;
    margin: 15px;
    color: #4F758B;
}
#Reverse-Mortgage-Florida-Container-h4{
    position: inherit;
    color: #4F758B;
}
#Reverse-Mortgage-Florida-Container-button{
    background-color: #ED8B00;
    margin: 15px;
    border: 1px solid black;
    color: black;
}
#Reverse-Mortgage-Florida-Container-button:hover{
    transform: scale(1.1); 
}
#Reverse-Mortgage-Florida-Container-grid{
padding: 20px;
}
#Reverse-Mortgage-Florida-Container-contact{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #4F758B;
    justify-content: center;
    align-items: center;
}
#Reverse-Mortgage-Florida-Container-contact-2{
    width: 250vp !important;
}
// contact us page
#reverse-mortgage-texas-contact-us-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-texas-contact-us-Container-h1{
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-texas-contact-us-Container-p{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4F758B;
    margin: 25px;

}
#reverse-mortgage-texas-contact-us-Container-p-info{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    // text-align: center;
    color: black;
    margin: 25px;
}
#reverse-mortgage-texas-contact-us-Container-a{
    color: #ED8B00 !important;
    padding: 0;
    margin: 0;
}
#reverse-mortgage-texas-contact-us-Container-a:hover{
    color: white !important;
    padding: 0;
    margin: 0;
}
#reverse-mortgage-texas-contact-us-stack{
    margin-top: 0;
}
#reverse-mortgage-texas-contact-us-contact-section{
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-banner-title{
    position: inherit;
    top: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#reverse-mortgage-texas-contact-us-Container-h2{
    position: inherit;
    margin: 15px;
    font-size: 50px !important;
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-h3{
    position: inherit;
    margin: 15px;
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-h4{
    position: inherit;
    color: #4F758B;
}
#reverse-mortgage-texas-contact-us-Container-button{
    background-color: #ED8B00;
    margin: 15px;
    border: 1px solid black;
    color: black;
}
#reverse-mortgage-texas-contact-us-Container-button:hover{
    transform: scale(1.1); 
}
#reverse-mortgage-texas-contact-us-Container-contact{
    width: 100%;
    display: flex;
    position: relative;
    background-color: #4F758B;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-texas-contact-us-Container-contact-2{
    width: 250vp !important;
}
// Home page
#reverse-mortgage-utah-home-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-utah-home-Container-banner-title{
    position: inherit;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#reverse-mortgage-utah-home-Container-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#reverse-mortgage-utah-home-Container-h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    color: #4F758B;
}
#reverse-mortgage-utah-home-Container-h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    color: #4F758B;
}
#reverse-mortgage-utah-home-button-1{
    background-color: #ED8B00;
    color: black;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
#reverse-mortgage-utah-home-button-1:hover{
    transform: scale(1.1); 
}
#reverse-mortgage-utah-home-Container-stack{
    padding: 0 !important;
    margin: 0 !important;
    color: #4F758B !important;
    background-color: #4F758B;
}
#reverse-mortgage-utah-home-Container-Contactform{
    padding: 0 !important;
    margin: 0 !important;
    color: #4F758B !important;
}
#reverse-mortgage-utah-home-Container-stack-column-box{
    background-color: white;
    width: 250px;
    height: 85px;
    margin: 10px;
    display: flex;
    font-size: large;
    align-items: center;
}
#reverse-mortgage-utah-home-Container-stack-card{
    margin: 20px;
}
.slide-in {
    animation: slideInAnimation 0.5s ease-in forwards;
    transform: translateX(200%);
  }
  
  @keyframes slideInAnimation {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .slide-in2 {
    animation: slideInAnimation 0.5s ease-in forwards;
    transform: translateX(200%);
    animation-delay: .5s;
  }
  
  @keyframes slideInAnimation {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .slide-in3 {
    animation: slideInAnimation 0.5s ease-in forwards;
    transform: translateX(200%);
    animation-delay: .85s;
  }
  
  @keyframes slideInAnimation {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
.reverse-mortgage-utah-home-Container-stack-img1 {
    display: flex;
    margin: 0;
  }
  
  .image-container {
    flex: 1;
    max-width: 50%;
    // padding: 1rem;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .text-container {
    flex: 1;
    max-width: 50%;
    padding: 1rem;
  }
 #reverse-mortgage-utah-home-text-1{
background-color: lightgray;
display:flex;
flex-direction:column;
justify-content:space-between;
justify-content: center;
align-items: center;
 } 
 #reverse-mortgage-utah-home-text-2{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    justify-content: center;
    align-items: center; 
    color: white;
    font-size: 15px !important;
 }
 #reverse-mortgage-utah-home-text-h2-1{
    padding: 10px;
    color: #ED8B00;
    
 }
#reverse-mortgage-utah-home-parallax-mid{
    height: 670px;

}
  #reverse-mortgage-utah-home-parallax-title{
    position: inherit;
    font-size: 12px !important;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
    background-color: black !important;
    width: 100%;
    height: 100%;
    opacity: .8;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-utah-home-parallax-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#reverse-mortgage-utah-home-parallax-p{
    display:flex;
    flex-direction:column;
    // width: auto;
    // height: auto;
    // justify-content:space-between;
    justify-content: center;
    align-items: center;
    font-size: 15px !important;
}
// image 2 split 
.reverse-mortgage-utah-home-Container-stack-img2 {
    display: flex;
    margin: 0;
  }
  .text-container {
    flex: 1;
    max-width: 50%;
    padding: 1rem;
    margin: 0;
    background-color: #4F758B;
  }
  .image-container {
    flex: 1;
    max-width: 50%;
    height: 631px;
    // padding: 1rem;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  #reverse-mortgage-florida-home-map-container{
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
    align-items: center !important;
    padding: 15px;
}
  
#reverse-mortgage-florida-home-map{
    max-width: 90%;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
}
#reverse-mortgage-florida-home-timeline{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: #4F758B;
}
#reverse-mortgage-texas-home-h2{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: #4F758B;
}
#reverse-mortgage-texas-home-p{
    text-align: left;
    margin: 10px;
}
#reverse-mortgage-texas-home-stack-img{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 25rem;
}
#reverse-mortgage-texas-home-button-container{
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}
#reverse-mortgage-texas-home-button{
    background-color: #ED8B00;
    margin: 15px;
    border: 1px solid black;
    color: black;
    font-weight:bold;
    padding-left: 25px;
    padding-right: 25px;
}
#reverse-mortgage-texas-home-button:hover{
    transform: scale(1.1); 
}
#reverse-mortgage-texas-home-h2-accordion{
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: black;
}
#reverse-mortgage-texas-home-Container-Contactform{
    text-align: center;
    display: flex;
    background-color: #4F758B;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}
#panel1a-header{
    background-color: #4F758B;
    color: #ED8B00;
}
#panel2a-header{
    background-color: #4F758B;
    color: #ED8B00;
}
#panel3a-header{
    background-color: #4F758B;
    color: #ED8B00;
}
#ss-custom-reviews-widget-root{
   margin: 10px;
   padding: 10px;
}
// About us
#reverse-mortgage-florida-aboutus-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#reverse-mortgage-florida-aboutus-banner-title{
    position: inherit;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#reverse-mortgage-florida-aboutus-Container-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#reverse-mortgage-florida-aboutus-Container-h2{
    font-family: 'Rock Salt', cursive !important;
    font-size: 35px;
    display: flex;
    padding: 10px;
    justify-content: center;
}
#reverse-mortgage-florida-aboutus-stack-p{
    font-size: large;
}
#reverse-mortgage-florida-aboutus-stack-p-3{
    font-size: large;
    padding-bottom: 20px;
}
#reverse-mortgage-florida-aboutus-stack-img-kenny{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 25rem;
}
// Closing Guarantee
#mortgage-broker-utah-closing-guarantee-Container-1{
    height: 400px;
    justify-content: center;
    align-items: center;
}
#mortgage-broker-utah-closing-guarantee-Container-banner-title{
    position: inherit;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px !important;
    color: #ED8B00;
    text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}
#mortgage-broker-utah-closing-guarantee-Container-h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#mortgage-broker-utah-closing-guarantee-Container-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #4F758B;
    font-family: 'Rock Salt', cursive !important;
}
#mortgage-broker-utah-closing-guarantee-stack-img-kenny{
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 23.4rem;
}
#mortgage-broker-utah-closing-guarantee-stack-p{
font-size: large;
}
#mortgage-broker-utah-closing-guarantee-stack-li{
    color: black !important;
    padding: 7px;
    margin-left: 20px;
    font-size: large;
}
#mortgage-broker-utah-closing-guarantee-stack-li:hover{
    background-color: none !important;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-h2{
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-h3{
    font-size: 22px;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-eligibility{
    padding-top: 30px;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
}
#reverse-mortgage-florida-aboutus-closingGuarantee-li{
    padding: 10px;
    color: black !important;
}
// Salt Lake City
#salt-lake-city-p{
    padding-bottom: 20px !important;
    margin: 0 !important;
}
#salt-lake-city-fourth-section{
    background-color: lightgray;
    width: 100%;
    padding: 15px;
    margin: 0;
}
#reverse-mortgage-texas-salt-lake-city-h2{
    font-size: 30px !important;
    text-align: center;
    color: black;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Media Query for small screens on home screen */
@media (max-width: 768px) {
    .reverse-mortgage-utah-home-Container-stack-img1  {
      flex-direction: column;
    }
  
    .image-container,
    .text-container {
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    .reverse-mortgage-utah-home-Container-stack-img2{
      flex-direction: column;
    }
  
    .image-container,
    .text-container {
      max-width: 100%;
    }
  }
  @media (max-width: 410px) {
    
  #reverse-mortgage-utah-home-parallax-mid{
    height: 720px;

}
  }












